<?xml version="1.0" encoding="UTF-8"?>

<phpunit
         colors                      = "true"
         convertErrorsToExceptions   = "true"
         convertNoticesToExceptions  = "true"
         convertWarningsToExceptions = "true"
         processIsolation            = "false"
         stopOnFailure               = "false">

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory suffix=".php">./packages/**/tests/unit/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./packages/**/*</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage" lowUpperBound="35" highLowerBound="80"/>
    </logging>

    <php>
    </php>

</phpunit>
